.App {
    width: 90%;
    margin: auto;
}

.formAdd {
    background-color: aliceblue;
    margin: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.addPosts {
    background-color: lightgrey;
    width: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 20px;
}

.submit {
    background-color: #a7bcff;
    border-style: dashed;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    height: 4vh;
}

.yourPost {
    background-color: whitesmoke;
    margin-left: 10px;
    height: 30vh;
    width: 60vw;
    color: gray;
    padding: 5px;
    gap: 15px;
    border: dashed;
    border-radius: '5px';
}

.postTitle {
    background-color: whitesmoke;
    margin-top: 10px;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: grey;
    width: 90%;
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
  